.settings {
    background-color: rgb(241, 241, 255);
    width: fit-content;
    border-radius: 4px;
    color: #212529;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px;
    margin: 10px 0px 0px 40px;
}

<<<<<<< HEAD
.main {
    display: flex;
}
=======
>>>>>>> parent of 23b48e9 (lara croft)
