.settings {
    background-color: rgb(241, 241, 255);
    border-radius: 4px;
    color: #212529;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px;
    position: absolute;
    height: 100%;
    width: 20%;
}

.main {
    display: flex;
}

.canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
nav .title {
    padding: 20px;
    font-size: 1.3em;
    position: relative;
}
nav .title .open-menu-btn {
    width: 30px;
    height: max-content;
    position: absolute;
    display: block;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
nav .title .open-menu-btn hr {
    margin: 5px 0;
}
